{% extends 'activate_account_base.html' %}
{% load viewflow material_form material_frontend %}
{% load i18n %}
{% block content %}
<div class="left-panel">
    <div class="card">
      <div class="card-content">

        <strong>{% block head_title %}{% trans "Password Reset" %}{% endblock %}</strong>
      <p style="padding-">{% blocktrans %}We have sent you an e-mail.
      Please contact us if you do not receive it within a few minutes.{% endblocktrans %}</p>
    </div>
    </div>
</div>
      {% endblock %}

