{% extends 'activate_account_base.html' %}
{% load viewflow material_form material_frontend %}
{% load i18n %}
{% block content %}
<div class="left-panel">
    <div class="card">
    <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>
       {% if token_fail %}
        {% url 'account_reset_password' as passwd_reset_url %}
        <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
    {% else %}
    {% if form %}
      <!-- action= url 'account_reset_password_from_key'  -->
    <form role="form" method="POST"class="password_reset">
          <h3 class="card-title" style="padding-left:1.2em; padding-top:1.5em;">{% trans "Set a password for your account" %}
          </h3><p style="padding-left:1.2em;">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
            <div class="card-content">
                    {% csrf_token %}
                 {% form form=form %}{% endform %}
            </div>
            <div class="card-action row">
                <div class="col s12 right-align">
                    <button class="btn" type="submit">Reset Password</button>
                </div>
            </div>
        </form>
      {% else %}
      <p>{% trans 'Your password is now changed.' %}</p>
      {% endif %}
{% endif %}
    </div></div>
{% endblock %}



