{% extends 'activate_account_base.html' %}
{% load viewflow material_form material_frontend %}
{% load i18n %}

{% block content %}
<div class="left-panel">
    <div class="card">
      {% if messages %}
       <style>
    .error{
      color:red;
    }
    .success{
      color:green;
    }
  </style>
  <ul class="messages">
    {% for message in messages %}
    <li>{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
       <img style="https://membershiprw.s3.amazonaws.com/upload/files/irpv_logo.png"
                   class="img-thumbnail img-rounded logo-img" alt="IRPV" width="120px">
      <h4 class="card-title" style="padding-top:2em; padding-left:1.2em;">
        To register, you need to first create an account. (If you already have an <a href="{% url 'account_login' %}"> account then login</a> instead)
     </h4>
        <form role="form" class="login" method="POST" action="{% url 'account_signup' %}">
            <div class="card-content">
                    {% csrf_token %}
                 {% form form=form %}{% endform %}
            </div>
            <div class="card-action row">
                <div class="col s12 right-align">
                   <span> If you need any assistance call +250 789 161 489 or email helpdesk@informatics.africa </span> <button class="btn" type="submit">Signup</button>
                </div>

            </div>
        </form>
    </div>
</div>
{% endblock %}




